body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
}

font-blue{
    color: rgb(3, 14, 170);
}
bg-blue{
    background-color: rgb(55, 0, 255);
}
bg-yellow{
    background-color: rgb(255, 255, 0);
}
btn.bg-blue:hover{
    background-color: rgb(55, 0, 255);
    color: white;
}btn.bg-yellow{
    background-color: rgb(255, 255, 0);
    color: black;
}
progress{
    background-color: rgb(69, 81, 252);
}


.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>